{% extends 'base.html' %}
{% load static %}
{% block script %}
    <style>
    .grid-container {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto auto;
    }
[class^="grid-item"] {
  border: 1px solid #fff;
  min-height: 2.5em;
  font-size: 1.5em;
  line-height: 2.5em;
  text-align: center;
  color: #fff;
}
.grid-item {

}
</style>
{% endblock script %}
{% block content %}
    <div class="grid-container">
    {% for dealer in object_list %}
        <div class="grid-item">
          <img src="../media/{{ dealer.logo }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ dealer.slug }}/">{{ dealer.brand }}</a><span style="font-size: 0.5em; color: black">   {{ dealer.dealer_set.count }}</span>
        </div>
    {% endfor %}
    </div>
{% endblock content %}
