{% extends 'base.html' %}
{% load static %}

{% block content %}
<body class="single">
<div id="fh5co-title-box" style="background-image: url({% static ''%}../media/{{ article.image }}); background-position: 50% 90.5px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="page-title">
        <span>{{ object.author.first_name }} {{ object.author.last_name }}</span>
        <span>{{ object.datetime }}</span>
        <h2>{{ object.title }}</h2>
    </div>
</div>
<div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <p>{{ object.text|safe }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block content1 %}

    <div class="card">
        <h2>{{ object.title }}</h2>
        <h4>{{ object.datetime }}, modified {{ object.datetime_modify }}</h4>
        <h5>{{ object.author.first_name }} {{ object.author.last_name }}</h5>
        <p>{{ object.text|safe }}</p>
    </div>

{% endblock content1 %}
